@import "tailwindcss";

/* Configuration de base pour une app Full Screen */
html, body {
  height: 100%;       /* Prend toute la hauteur */
  width: 100%;        /* Prend toute la largeur */
  margin: 0;
  padding: 0;
  overflow: hidden;   /* Évite les barres de défilement globales (géré par les composants) */
  background-color: #f3f4f6; /* gris clair (bg-gray-100) pour le fond par défaut */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

/* Utile pour cacher les scrollbars tout en gardant le scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}